<div class="jumbotron">
    <h1>ADD VEHICLE</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            <span class="input-group-btn" ng-click="getVinData()">
                <button class="btn btn-secondary" type="button" ng-click="showTable=true">Search</button>
            </span>
            <input type="text" ng-model="yearNum" class="form-control" placeholder="Year" />
            <input type="text" ng-model="vinNum" class="form-control" placeholder="Vin" />
        </div>
    </div>
</div>

<br />

<div class="row tableView animate-show-hide" ng-show="showTable">
    <div class="container">
        <div class="accordion-option">
            <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
        </div>
        <div class="clearfix"></div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <a role="button" href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne" ng-click="show1 = !show1">
                        <h4 class="panel-title">
                            <span class="pull-left">
                                Specs
                            </span>
                            <span class="pull-right glyphicon glyphicon-plus" id="heading1" ng-show="show1"></span>
                            <span class="pull-right glyphicon glyphicon-minus" id="heading1" ng-show="!show1"></span>
                            <br />
                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div>
                            <table class="table table-bordered table-condensed table-striped">
                                <tr>
                                    <th>parameter</th>
                                    <th>value</th>
                                    <th>options</th>
                                </tr>
                                <tr class="text-center">
                                    <td>Price</td>
                                    <td>$<input ng-model="price" type="text"></td>
                                    <td></td>
                                </tr>
                                <!--add hours, miles here and in js-->
                                <tr>
                                    <td>Hours</td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr ng-repeat="d in vehicle" class="text-center">
                                    <td>{{d.Variable}}</td>
                                    <td>{{d.Value}}</td>
                                    <td>
                                        <button id="remove{{$index}}" class="btn btn-danger" ng-model="checkbox" ng-click="removeRow($index)" type="button">Remove</button>
                                        <button id="edit{{$index}}" class="btn btn-primary" ng-model="editButton" ng-click="editRow($index)" type="button" data-toggle="modal" data-target="#editModal">Edit</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-btn" ng-click="addRow()">
                                <button class="btn btn-secondary" type="button">Add</button>
                            </span>
                            <input type="text" ng-model="param" class="form-control" placeholder="param" />
                            <input type="text" ng-model="val" class="form-control" placeholder="val" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ng-click="show2 = !show2">
                        <h4 class="panel-title">
                            <span class="pull-left">
                                Images
                            </span>
                            <span class="pull-right glyphicon glyphicon-plus" ng-show="!show2"></span>
                            <span class="pull-right glyphicon glyphicon-minus" ng-show="show2"></span>
                            <br />
                        </h4>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="files">Select Images</label>
                                <input id="files" type="file" multiple="multiple" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" id="result">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" ng-click="show3 = !show3">
                        <h4 class="panel-title">
                            <span class="pull-left">
                                Preview
                            </span>
                            <span class="pull-right glyphicon glyphicon-plus" ng-show="!show3"></span>
                            <span class="pull-right glyphicon glyphicon-minus" ng-show="show3"></span>
                            <br />
                        </h4>
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4" id="previewImage">

                            </div>
                            <div class="col-xs-8">
                                <h3><span contenteditable="true" id="editableSalesTitle" class="pull-left col-xs-12 col-md-9">{{vehicleYear}} {{vehicleMake}} {{vehicleModel}}</span><span class="pull-right col-xs-12 col-md-3">${{price}}</span></h3>
                                <br />
                                <br />
                                <table>
                                    <tr>
                                        <td> {{}}</td>
                                        <td>Model {{}}</td>
                                    </tr>
                                </table>
                                <div id="editableSalesText" contenteditable="true">{{preview()}}</div>
                                <br />
                                <hr />
                                <div class="buttons pull-right">
                                    <button class="btn btn-group btn-success" type="submit">Submit</button>
                                    <button class="btn btn-group btn-danger" type="button">Clear</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" ng-value="valHolder" ng-model="newVal" />
                    <input type="text" ng-value="paramHolder" ng-model="newParam" />

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges(recordNum)">Save changes</button>
            </div>
        </div>
    </div>
</div>


